/* PALETA CROMÁTICA GENERAL PARA TODA LA WEB*/
:root {
    /* Paleta cromática */
    --american-silver: #CACFD2;
    --grullo: #AA9E8E;
    --camel: #B99366;
    --tuscan-red: #76404E;
    --dark-scarlet: #4D0213;
  
    /* Neutros */
    --blanco: #ffffff;
    --negro: #1a1a1a;
  }

/* BODY*/  
  body {
    font-family: Arial, sans-serif;
    background-color: var(--american-silver);
    color: var(--negro);
  }

/* SIDEBAR (COLUMNA IZQUIERDA)*/   
  .sidebar {
    width: 25%;
    background-color: var(--tuscan-red);
    padding: 20px;
  }

/* LOGO (PLACEHOLDER)*/ 
  .avatar {
    width: 80px;
    height: 80px;
    background-color: var(--camel);
    border-radius: 50%;
    margin: 0 auto 10px;
  }

/*MENÚ*/
  .menu a {
    text-decoration: none;
    color: var(--american-silver);
    font-weight: 500;
  }
  
  .menu a:hover {
    color: var(--camel);
  }

/*CONTENIDO PRINCIPAL*/
    .contenido {
    width: 75%;
    padding: 30px;
    background-color: var(--american-silver);
  }

/*CARDS*/
.card {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--american-silver);
    padding-bottom: 20px;
  }
  
  .imagen {
    width: 150px;
    height: 100px;
    background-color: var(--american-silver);
  }

/*TRABAJOS ACADÉMICOS*/
    .thumb {
    width: 120px;
    height: 80px;
    background-color: var(--camel);
  }
  
/*TIPOGRAFIAS: Cromorán*/  
  .cormorant-upright-light {
    font-family: "Cormorant Upright", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .cormorant-upright-regular {
    font-family: "Cormorant Upright", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .cormorant-upright-medium {
    font-family: "Cormorant Upright", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .cormorant-upright-semibold {
    font-family: "Cormorant Upright", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .cormorant-upright-bold {
    font-family: "Cormorant Upright", serif;
    font-weight: 700;
    font-style: normal;
  }
  
/*TIPOGRAFIAS: Karla*/   
  
  .karla-uniquifier {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

/*TIPOGRAFIAS: Playfair*/ 


.playfair-display-uniquifier {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
  
     
  
  
  
  